.admin-layout .admin-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background-color: #f0f0f1;
  z-index: 20;
}

.admin-layout .admin-content {
  padding-left: 300px;
}

.admin-layout .logo {
  max-width: 100px;
}

.admin-layout .menu-toggle,
.admin-layout .menu-bg {
  display: none;
}

@media screen and (max-width: 767px) {
  .admin-layout .menu-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
  }

  .admin-layout .menu-bg.open {
    display: block;
  }

  .admin-layout .menu-toggle {
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 999px;
    text-align: center;
    background-color: #f0f0f1;
    color: #333;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .admin-layout .admin-menu {
    transition: transform 0.3s;
  }

  .admin-layout .admin-menu:not(.open) {
    transform: translateX(-100%);
  }

  .admin-layout .admin-content {
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .admin-layout .admin-menu {
    width: 100%;
  }
}
