.embed-wrapper {
  padding-top: 80%;
  position: relative;

  &.square {
    padding-top: 100%;
  }

  > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}