.section {
  &:not(:last-child) {
    margin-bottom: $section-spacing / 2;

    @include media-breakpoint-up('md') {
      margin-bottom: $section-spacing;
    }
  }

  &__header {
    margin-bottom: $section-header-spacing-responsive;
    @extend .d-flex;
    @extend .align-items-end;
    @extend .justify-content-between;

    @include media-breakpoint-up('md') {
      margin-bottom: $section-header-spacing;
    }
  }

  &__footer {
    margin-top: 2.5rem;
    text-align: center;
    @include media-breakpoint-up('md') {
      display: none;
    }
  }
}
