html, body {
  -webkit-font-smoothing: antialiased;
}

.cursor-pointer {
  cursor: pointer;
}

.menu-tick {
  position: absolute;
  left: 6px;
  top: 4px;
}

.decoration-none {
  text-decoration: none !important;
}

.submit-wrapper {
  padding-top: 1.25rem;
}
