// Overrides Bootstrap Variables

$primary: #fdb600;

$dark: #333333;

$font-family-base: 'Barlow Semi Condensed', Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: 'DIN Offc', Roboto, "Helvetica Neue", Arial, sans-serif;

$navbar-brand-font-size: 2rem;
$navbar-padding-y: 1rem;

$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{$navbar-dark-color}' stroke-width='1' stroke='none' d='M6,6 L24,6 L24,9 L6,9 L6,9 Z M6,13 L24,13 L24,16 L6,16 L6,13 Z M6,20 L24,20 L24,23 L6,23 L6,20 Z'/%3E%3C/svg%3E");
$navbar-dark-toggler-border-color: transparent;

$navbar-light-color: #000000;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{$navbar-light-color}' stroke-width='1' stroke='none' d='M6,6 L24,6 L24,9 L6,9 L6,9 Z M6,13 L24,13 L24,16 L6,16 L6,13 Z M6,20 L24,20 L24,23 L6,23 L6,20 Z'/%3E%3C/svg%3E");
$navbar-light-toggler-border-color: transparent;

$facebook-color: #6E85E0;
$twitter-color: #54B9F3;
$linkedin-color: #6491E2;
