.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  &, &:focus, &:hover, &:active {
    color: #ffffff;
  }
}

.btn-lg {
  font-size: $font-size-base;
}
