.form-control-label, .form-check-label {
  font-size: 1.125rem;
  font-family: $headings-font-family;
  color: $headings-color;
}

.form-control-lg {
  font-size: $font-size-base;
}

.form-group {
  @include media-breakpoint-up('lg') {
    margin-bottom: $form-group-margin-bottom-lg;
  }
}
