$close-offset: 15px;
$close-y-diff: 11px;
$modal-title-top-offset: 60px;

.modal-header {
  padding-bottom: 0;
  .close {
    padding: ($close-offset - $close-y-diff) $close-offset;
    font-size: 2rem;
    @extend .cursor-pointer;
    outline: none !important;
  }
}

.modal-title {
  font-size: 2.25rem;
  letter-spacing: 0.6;
  text-transform: uppercase;
}

.modal-body {
  padding-top: 0;

  .form-group {
    margin-bottom: $form-group-margin-bottom;
  }
}
