DEBUG = True

ALLOWED_HOSTS = []

DATABASES['default'] = {
    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    'NAME': 'databasename',
    'USER': 'username',
    'PASSWORD': 'password',
    'HOST': '127.0.0.1',
}


# Email backend

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST =
EMAIL_PORT =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_USE_SSL = True


# Django CORS Headers

CORS_ORIGIN_WHITELIST = (
    'front-end-site-domain.com'
)


# Facebook API Configuration

FACEBOOK_APP_VERSION = '2.10'
