.donor-medium {
  width: 200px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.btn-donor-medium-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
}
